// ==========================================================================
// Index
// ==========================================================================
.post-list-info {
	position: relative;
	float: left;
	width: 100%;
	margin: 50px 0 30px;

	li {
		position: relative;
		float: left;

		.text {
			float: right;
			font-size: 17px;
			font-weight: $font-weight-semibold;
			color: #878787;
			margin-left: 10px;
		}

		&:first-child {
			margin-right: 20px;
		}
	}
}

.post-list-details {
	li {
		padding: 0 0 0 30px;
		margin-bottom: 20px;
		background: url('../images/ico-arrow-left.png') no-repeat 10px 12px;
	}
}

.form-contact {
	h2 {
		text-align: center;
		font-size: 35px;
	}

	#contact-form {
		position: relative;
		width: 600px;
		margin: 0 auto 20px 0;

		input, textarea {
			position: relative;
			float: left;
			width: 100%;
			background: $bg-base;
			border: none;
			padding: 25px 30px;
			margin-bottom: 20px;
			border-radius: 3px;
			font-family: $font-family-sans-serif;
			font-size: 18px;
			font-weight: $font-weight-regular;
			color: $color-base;
			letter-spacing: 0px;
		}

		textarea {
			box-sizing: border-box;
			resize: vertical;
			height: 150px;
			line-height: 34px;
		}

		button {
			display: block;
			margin: 0 auto;
			padding: 20px 30px;
			border: none;
			color: #fff;
			font-family: $font-family-sans-serif;
			font-size: 18px;
			font-weight: $font-weight-regular;
			background: $default-black;
			cursor: pointer;

			transition: 0.3s;

			&:hover {
				background: #3C3C3C;
			}

			&.animate {
				padding: 5px 30px;
				height: 25px;
			}
		}

		.bar-loading {
			position: relative;
			float: left;
			width: 100%;
			text-align: center;

			.bg {
				position: relative;
				display: inline-block;
				width: 60px;

				.bar {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					background: $default-white;
				}
			}

			&.animate {
				height: 25px;

				.bg {
					padding: 5px 50%;
					height: 25px;
					background: $default-black;
					transition: 0.3s;

					.bar {
						animation: growWidth 3s infinite;
					}
				}
			}
		}

		&.sending {
			opacity: 0.5;
		}
	}
}

.bg-mask {
	position: fixed;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	opacity: 0.9;
	display: none;

	&.white {
		background: $default-white;
	}

	&.show {
		display: block;
	}
}

.success-contact {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
	z-index: 100;
	background: $secondary-blue;
	display: none;

	.success-contact-message {
		position: absolute;
		top: 50%;
		left: 10%;
		transform: translateY(-50%);

		img {
			position: relative;
			float: left;
			width: 10%;
			//min-width: 100px;
			margin-top: 10px;
			margin-right: 2%;
		}

		h2 {
			position: relative;
			float: left;
			width: 88%;
			color: $default-white;
			font-size: 100px;
			font-weight: 800;
			letter-spacing: -2px;
		}

		p {
			position: relative;
			float: left;
			margin-left: 12%;
			color: $default-white;
		}
	}

	&.show {
		display: block;
	}
}

@media (max-width: 960px) and (min-width: 650px) {
	.form-contact {
		#contact-form {
			width: 100%;
		}
	}

	.success-contact {
		.success-contact-message {
			h2 {
				font-size: 50px;
			}
		}
	}
}

@media screen and (max-width: 649px) {
	.form-contact {
		#contact-form {
			width: 100%;
		}
	}

	.success-contact {
		.success-contact-message {
			h2 {
				font-size: 50px;
			}
		}
	}
}