// ==========================================================================
// Base
// ==========================================================================

h1 {
	font-family: $font-family-sans-serif;
	font-size: 100px;
	font-weight: $font-weight-bold;
	letter-spacing: -2px;
}

h2 {
	font-family: $font-family-sans-serif;
	font-size: 28px;
	font-weight: $font-weight-semibold;
}

h3 {
	font-family: $font-family-sans-serif;
	font-size: 25px;
	font-weight: $font-weight-regular;
}

.section {
	position: relative;
	float: left;
	width: 100%;
	padding-bottom: 20px;

	&.bg {
		&.white {
			background: $default-white;
		}
	}

	h2 {
		margin: 40px 0 30px 0;
		font-weight: $font-weight-bold;
		color: $color-base;
		letter-spacing: -1px;
	}
}

p {
	font-family: $font-family-sans-serif;
	font-size: 20px;
	font-weight: $font-weight-regular;
	color: $color-base;
	letter-spacing: 0px;
	line-height: 34px;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.validate {
	.valid {
		box-shadow: none;
	}

	.invalid {
		box-shadow: 0 0 0 1px #F53C33;
	}
}

@media (max-width: 1024px) and (min-width: 959px) {
}

@media (max-width: 960px) and (min-width: 650px) {
	h1 {
		font-size: 75px;
	}
}

@media screen and (max-width: 649px) {
	.header {
		h1 {
			font-size: 70px;
			margin-top: 0 !important;
		}
	}

	.container {
		&.title {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}