// ==========================================================================
// Footer
// ==========================================================================
.footer {
	position: relative;
	float: left;
	width: 100%;
	height: 250px;
	background: $secondary-blue;
	border-top: 10px solid #efefef;
}