// ==========================================================================
// Grids
// ==========================================================================

.container {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	padding: 0 12px;

	&.--small {
		width: 700px;
	}
}