// ==========================================================================
// Colors
// ==========================================================================


$primary-blue:        #01579B;
$secondary-blue:      #257ECA;

$default-white:       #FFFFFF;
$default-black:       #000000;

$color-base:          #474747;
$bg-base:             #F7F7F7;