// ==========================================================================
// Fonts used in project
// ==========================================================================


// Source Sans Pro
// ==========================================================================

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/App/Source/Fonts/SourceSansPro/sourcesanspro-black-webfont.eot');
	src: url('/App/Source/Fonts/SourceSansPro/Fonts/SourceSansPro/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-black-webfont.woff2') format('woff2'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-black-webfont.woff') format('woff'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-black-webfont.ttf') format('truetype'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/App/Source/Fonts/SourceSansPro/sourcesanspro-semibold-webfont.eot');
	src: url('/App/Source/Fonts/SourceSansPro/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-semibold-webfont.woff2') format('woff2'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-semibold-webfont.woff') format('woff'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-semibold-webfont.ttf') format('truetype'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/App/Source/Fonts/SourceSansPro/sourcesanspro-regular-webfont.eot');
	src: url('/App/Source/Fonts/SourceSansPro/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-regular-webfont.woff2') format('woff2'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-regular-webfont.woff') format('woff'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-regular-webfont.ttf') format('truetype'),
			url('/App/Source/Fonts/SourceSansPro/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
	font-weight: 400;
	font-style: normal;
}