// ==========================================================================
// Typography
// ==========================================================================

$font-family-sans-serif:  'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;

$font-weight-regular:     400;
$font-weight-semibold:    600;
$font-weight-bold:        800;