// ==========================================================================
// Generic rules of Basic Template
// ==========================================================================
/*
body {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    color: $color-base;
    background: $bg-base;
}

h1 {
	font-size: 80px;
	font-weight: $font-weight-bold;
	//margin-top: 30px;
	//margin-bottom: 20px;
}

h2 {
	font-size: 28px;
	font-weight: $font-weight-bold;
	//margin-top: 30px;
	//margin-bottom: 20px;
}
*/